@using ASP.Server.Models
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    @foreach (var book in Model)
    {
	    <div class="book">

		    <h2> Le livre @book.Name</h2>
		    <p>est au prix de @book.Prix €,</p>
		    <p>c'est un : @book.Genres , et il commence par @book.Content (son id est @book.Id)</p>
	    </div>
    }
</div>

